@font-face {
  font-family: "handwriting";
  src: url('journal.eot');
  src: url('journal.eot?') format('eot'),
       url('journal.woff') format('woff'),
       url('journal.ttf') format('truetype');
}

@font-face {
  font-family: "typewriter";
  src: url('veteran_typewriter.eot');
  src: url('veteran_typewriter.eot?') format('eot'),
       url('veteran_typewriter.woff') format('woff'),
       url('veteran_typewriter.ttf') format('truetype');
}

/*@media only screen and (min-width: 400px) {*/
  body {
    /*background-image: url(https://mdn.mozillademos.org/files/4151/background.jpg);
    background: no-repeat center center cover;
    background-repeat: no-repeat;
    max-width: 100%;
    height: auto;*/

    font: 21px sans-serif;
    padding: 2em;
    margin: 0;
    background: #222;

}

form {
  position: relative;
  width: 740px;
  height: 498px;
  margin: 0 auto;
  background: #FFF url(https://mdn.mozillademos.org/files/4151/background.jpg)
}

h1 {
  position: absolute;
  left: 415px;
  top: 185px;
  font: 1em "typewriter", sans-serif;
}

#from {
  position: absolute;
  left: 398px;
  top: 285px;
}
